.header {
  color: white;
  display: flex;
  justify-content: center;
  font-weight: 100;
}

.container-header {
  background-color: #101C3B;
  border-bottom: 2px solid #E6292E;
}

.header-content {
  color: white;
  display: flex;
  justify-content: center;
  font-weight: 100;
  font-size: 12px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.table-container {
  margin: 35px;
}

#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table tr:hover {
  background-color: #ddd;
}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: gray;
  color: white;
}


#filterBtn:hover {
  cursor: pointer;
}