.header {
  color: white;
  display: flex;
  justify-content: center;
  font-weight: 100;
}

.container-header {
  background-color: #101C3B;
  border-bottom: 2px solid #E6292E;
}

.header-content {
  color: white;
  display: flex;
  justify-content: center;
  font-weight: 100;
  font-size: 12px;
}

.search {
  display: flex;
  justify-content: center;
}